form
{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    flex-wrap: wrap;
}
.form-group
{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    width: 20em;
    margin-bottom: 2em;
}
hr
{
    margin-bottom: 1.5em;
    margin-top: -0.8em;
}
label
{
    margin-bottom: -0.5em;
}
div
{
    max-width: 100%;
}
input[disabled]
{
    background-color: #302d2d;
    cursor: not-allowed;
}
#tipoDocumento
{
    margin-top: 1em;
    width: 4em;
    height: 2em;
    border-radius: 5px;
    border: none;
}
